*, html, body {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(70, 89, 225);
  display: flex;
  justify-content: center;
  align-items: center;
}
 li, a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  transition: all .5s ease 0s;
}
nav ul {
  display: flex;
  padding: 25px;
  
}
.nama {
  margin-right: auto;
  padding: 10px;
  cursor: pointer;
  transition: all .5s ease 0s;
  color: cyan;
}
.nama:hover {
  background-color: blue 30%;
  transform: rotate(1deg);
}
li:hover, a:hover {
  color: tomato;
}